.NewProductPage {
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border-width: 1px;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

#input-thumbnail-input {
  width: 100px;
  height: 100px;
  border: dashed;
}

#input-thumbnail-input:hover {
  cursor: pointer;
}
